button {
    font-family: 'Times New Roman', Times, serif;
    font-size: 40px;
    border: 5px;
    border-color: skyblue;
    border-style: solid;
    color: blue;
}

body {
    text-align: center;
    padding: 5px;
}

.choice-container {

}
